@model MY2.Entities.Admin
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Formu</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap" rel="stylesheet"> <!-- Font Linki -->
    <style>

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Open Sans", sans-serif;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            width: 100%;
            padding: 0 10px;
            position: relative;
        }

            body::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: url("https://i.pinimg.com/originals/2b/2b/11/2b2b1110569856cc7b4962abf6695e9c.jpg"), #000; /* Belirttiğiniz Resim */
                background-position: center;
                background-size: cover;
                z-index: -1;
            }

        .wrapper {
            width: 400px;
            border-radius: 8px;
            padding: 30px;
            text-align: center;
            border: 1px solid rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(8px);
        }

        form {
            display: flex;
            flex-direction: column;
        }

        h2 {
            font-size: 2rem;
            margin-bottom: 20px;
            color: #fff;
        }

        .input-field {
            position: relative;
            border-bottom: 2px solid #ccc;
            margin: 15px 0;
        }

            .input-field label {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                color: #fff;
                font-size: 16px;
                pointer-events: none;
                transition: 0.15s ease;
            }

            .input-field input {
                width: 100%;
                height: 40px;
                background: transparent;
                border: none;
                outline: none;
                font-size: 16px;
                color: #fff;
            }

                .input-field input:focus ~ label,
                .input-field input:valid ~ label {
                    font-size: 0.8rem;
                    top: 10px;
                    transform: translateY(-120%);
                }



        .wrapper a {
            color: #efefef;
            text-decoration: none;
        }

            .wrapper a:hover {
                text-decoration: underline;
            }

        button {
            background: #fff;
            color: #000;
            font-weight: 600;
            border: none;
            padding: 12px 20px;
            cursor: pointer;
            border-radius: 3px;
            font-size: 16px;
            border: 2px solid transparent;
            transition: 0.3s ease;
        }

            button:hover {
                color: #fff;
                border-color: #fff;
                background: rgba(255, 255, 255, 0.15);
            }

        .register {
            text-align: center;
            margin-top: 30px;
            color: #fff;
        }
    </style>
</head>
<body>

    <form method="post">
        <div class="wrapper">
            <h2>Kullanıcı Kaydı</h2>


            <div class="input-field">

                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", id = "Name", required = "required" })
                <label>Ad</label>
            </div>

            <div class="input-field">
                @Html.TextBoxFor(x => x.Surname, new { @class = "form-control", id = "Surname", required = "required" })
                <label>Soyad</label>

            </div>

            <div class="input-field">
                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", id = "UserName", required = "required" })
                <label>Kullanıcı Adı</label>

            </div>

            <div class="input-field">
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "Mail", required = "required" })
                <label>Mail</label>
            </div>

            <div class="input-field">
                @Html.PasswordFor(x => x.Password, new { @class = "form-control", id = "Password", required = "required" })
                <label>Şifre</label>
            </div>
           
                <button class="btn" style="margin-bottom:10px">Kullanıcı Kaydet</button>
         

        </div>



    </form>

</body>
</html>
